<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/200c3a5221.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
<body>
  <div class="titlefield">
  <img src="title.png" width="100%" height="100%">
  </div>
  <div class="login_input_field">
<form action="/login" method="post">
    <div class="flex-direction-column">
      Eメール
    <input type="text" name="mail" placeholder="example@gamil.com" required><br>
      パスワード
    <input type="password" name="password" placeholder="パスワード" style="margin: 0 0 5px 0;" required>
    <div class="login-buton">
    <input type="submit" style="background: #00ffff; border: 1px solid black; size: 80%;"value="ログイン">
    </div>
</form>
<% unless session[:user] %>
  <div class="justify-content-center">
  初めての方は：<a style="color: #ff6347;" href="/signup">新規登録</a>
  </div>
<% else %>
<footer>
        <div class="footer-design">
        <form action="/bord" method="get">
            <input type="submit" value="掲示板" style="font-size: 30px; padding: 14px 100px; background:#8fbc8f;">
        </form>
        <form action="/dmlist" method="get">
            <input type="submit" value="DM" style="font-size: 30px; padding: 20px 120px; background:#8fbc8f;">
        </form>
        <form action="/search" method="get">
            <input type="submit" value="検索" style="font-size: 30px; padding: 14px 120px; background:#8fbc8f;">
        </form>
        <form action="/setting" method="get">
            <input type="submit" value="設定" style="font-size: 30px; padding: 14px 120px; background:#8fbc8f;">
        </form>
        <form action="/signout" method="get">
            <input type="submit" value="ログアウト" style="font-size: 30px; padding: 14px 80px; background:#8fbc8f;">
        </form>
        </div>
    </footer>
<% end %>
</div>
</div>
</body>
</html>