<!DOCTYPE html>
<html lang="ja">
<form action="/signup" method="post">
    <input type="text" name="mail" placeholder="Eメール"><br>
    <input type="password" name="password" placeholder="パスワード"><br>
    <input type="password" name="password_confirmation" placeholder="パスワードの確認"><br>
    <input type="radio" name="distinct_user" value= 0> 高校生
    <input type="radio" name="distinct_user" value= 1> 大学生</br>
    <input type="submit" value="新規登録">
</form>